body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    background-color: #0a0a0a;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 50px;
    height: 50px;
    height: auto;
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

.containers {
    display: flex;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;
    overflow: hidden;
}

.containers:hover .box {
    filter: grayscale(100%) opacity(24%);
}


section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
